.app {
  text-align: center;
}

html, body {
  height:100%;
  margin: 0;
  padding:0;
}

.h1 {
  color: '#40eebb';
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header {
    background-color: 'white';
    font: italic bold 12px/30px Georgia, serif;
}
.footer {
   font:  italic bold 8px/16px Georgia, serif;
}

#map {
  height: 100vh;
}